// .manacard {
//     background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../../assets/.png');
//     background-size: cover
// }

// .spellscard {
//     background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../../assets/.png');
//     background-size: cover
// }

// .pipelinecard {
//     background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../../assets/.png');
//     background-size: cover
// }


// .librarycard {
//     background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../../assets/.png');
//     background-size: cover
// }


.logo {
    z-index: 1000;
    height: 200px;
    left: 45%;
    position: absolute;
    top: 50%;
 }