<ion-header>
  <ion-toolbar>
    <ion-title>
      Grimoire
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
  {{health}}


  <p></p>
<br>
<br>
<br>
<div>
  <h1>Init Project</h1>

  <ion-item>
    <ion-label>Project Name</ion-label>
    <ion-input type="text" [(ngModel)]="projectName"></ion-input>
  </ion-item>


  <ion-button shape="round" color="primary" (click)="createProject()">Create Project
  </ion-button>

</div>

<br>
<br>
<br>
<p></p>



  <ion-grid>
      <h1>Mana source</h1>
    <ion-row>
      <ion-col size=3>

          <ion-item>
              <ion-label>Mana type</ion-label>
              
              <ion-select [(ngModel)]="mana_type" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="csv">csv</ion-select-option>
              <ion-select-option value="db">db</ion-select-option>
              <ion-select-option value="api">api</ion-select-option>
              </ion-select>
              </ion-item>
              
              



            </ion-col>

    </ion-row>
    <ion-row>
      <ion-col size=3 *ngIf="mana_type == 'csv';">

       <ion-list>
          <ion-item>
              <ion-label>File Upload</ion-label>
              <!-- <ion-input type="text" disabled [(ngModel)]="file_upload" value="HLB-CAS-sample-data.csv" placeholder="HLB-CAS-sample-data.csv">
              </ion-input> -->
              <input type="file" ng2FileSelect [uploader]="uploader" (click)="clearQueue()" />
        
            </ion-item>


            <ion-item>

            <ion-button expand="full" color="primary" shape="round" (click)="submitCSV()">
                <b>Upload CSV</b>
              </ion-button>
            </ion-item>
            
          </ion-list>




      </ion-col>






    </ion-row>
  </ion-grid>




</ion-content>
