<ion-header style="background-color: black">
  <ion-row>
    <ion-col size=4>
      <div style="color:azure">Grimorie
        <!-- <ion-chip color="light" (click)="showProfile()" *ngIf="auth.isLoggedIn">
          <ion-label>
            <h2>{{auth.Profile["email"]}} &nbsp;</h2>
          </ion-label>
          <ion-avatar>
            <img src="{{auth.Profile['picture']}}">
          </ion-avatar>
          <ion-icon name="arrow-dropdown"></ion-icon>
        </ion-chip> -->
        <ion-label (click)="utilityService.navURL('/')">
          Home
        </ion-label>



      </div>

    </ion-col>
    <!-- <ion-col offset=7 size=1>
      <ion-button shape="round" expand="full" color="secondary" (click)="auth.login()" *ngIf="!auth.isLoggedIn">Log In
      </ion-button>
      <ion-button shape="round" expand="full" color="danger" (click)="auth.logout()" *ngIf="auth.isLoggedIn">Log Out
      </ion-button>
    </ion-col> -->
  </ion-row>
</ion-header>

<ion-content>



  <ion-grid>


    <h1 text-center>Mana sources</h1>
    <ion-row>
      <ion-col size=2 *ngFor="let source of mana_sources">
        <ion-card (click)="set_source(source)">
          <ion-card-header>
            <ion-title text-center>
              <h1>{{source["file_name"]}}</h1>
            </ion-title>
          </ion-card-header>
          <ion-card-content text-center>
            Data Source
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>



    <h2 text-center>Add new Source</h2>
    <ion-row>
      <ion-col offset=3 size=2>
        <ion-card (click)="change_mana_type('csv')">
          <ion-card-header>
            <ion-title text-center>
              <h1>CSV</h1>
            </ion-title>
          </ion-card-header>
          <ion-card-content text-center>
            Upload a CSV file
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size=2>
        <ion-card (click)="change_mana_type('db')">
          <ion-card-header>
            <ion-title text-center>
              <h1>Database</h1>
            </ion-title>
          </ion-card-header>
          <ion-card-content text-center>
            Pull from a Database
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size=2>
        <ion-card (click)="change_mana_type('api')">
          <ion-card-header>
            <ion-title text-center>
              <h1>API</h1>
            </ion-title>
          </ion-card-header>
          <ion-card-content text-center>
            Hit api endpoint
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
    <!-- <ion-row>
      <ion-col size=3>

        <ion-item>
          <ion-label>Mana type</ion-label>

          <ion-select [(ngModel)]="mana_type" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="csv">csv</ion-select-option>
            <ion-select-option value="db">db</ion-select-option>
            <ion-select-option value="api">api</ion-select-option>
          </ion-select>
        </ion-item>





      </ion-col>

    </ion-row> -->
    <br>
    <br>
    <ion-row>
      <ion-col offset=4 size=3 *ngIf="mana_type == 'csv';">

        <ion-list>
          <ion-item>
            <ion-label>File Upload</ion-label>
            <!-- <ion-input type="text" disabled [(ngModel)]="file_upload" value="HLB-CAS-sample-data.csv" placeholder="HLB-CAS-sample-data.csv">
                  </ion-input> -->
            <input type="file" ng2FileSelect [uploader]="uploader" (click)="clearQueue()" />

          </ion-item>


          <ion-item>

            <ion-button expand="full" color="primary" shape="round" (click)="submitCSV()">
              <b>Upload CSV</b>
            </ion-button>
          </ion-item>

        </ion-list>




      </ion-col>






    </ion-row>
  </ion-grid>

















  <ion-grid *ngIf="current_source">

    <h1 text-center>Grimoires</h1>

    <ion-row>
      <ion-col *ngFor="let grim of grims;let i = index" size=3>


        <ion-card style="width: 100%">
          <ion-card-header text-center>
            <ion-card-title>
              {{grim["name"]}}
            </ion-card-title>
            <ion-card-subtitle>
              {{grim["value"]}}
            </ion-card-subtitle>

          </ion-card-header>

          <ion-card-content>

            <ion-list>
              <ion-item *ngFor="let spell of grim['spells'];let s = index">
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>
                      {{spell["spell_type"]}} - {{spell["spell_name"]}}
                    </ion-card-title>
                    <ion-card-subtitle>
                      {{spell["spell_info"]}}
                    </ion-card-subtitle>
                  </ion-card-header>

                  <!-- will need to work out how we want to accept inputs-->
                  <ion-card-content *ngIf="s == 0" text-center>
                    Spell inputs:
                    <ion-list>
                      <ion-item *ngFor="let sim of spell['spell_inputs_metadata']">
                        <ion-label>
                          <!-- <h2>{{sim["input_name"]}}</h2> -->
                          <!--  Ok here is the tricky part, do we just add infinite condtions here??-->
                          <!-- We will want to make this a component and just add to that? --->

                          <!-- If mana -->
                          <div *ngIf="sim['takesMana']">
                            <h2>Mana source</h2>
                            {{sim["input_name"]}} - {{sim["info"]}}

                            <!-- We want a drop down for all mana sources by type?-->
                            <div *ngIf="sim['takesCSV']">


                              <ion-label>CSV Name</ion-label>
                              <ion-input type="text" [(ngModel)]="spell_tomb[sim['input_name']]" value="{{current_source['file_name']}}">
                                {{current_source["file_name"]}}</ion-input>

                            </div>

                            <div *ngIf="sim['takesDB']">


                            </div>


                            <div *ngIf="sim['takesAPI']">


                            </div>

                          </div>

                          <!-- If takes csv cols -->
                          <div *ngIf="sim['takesCSVCol']">

                            {{sim["input_name"]}} - {{sim["info"]}}

                            <!-- We want a drop down for all mana sources by type?-->
                            <ion-label>Column Input</ion-label>

                            <ion-select [(ngModel)]="spell_tomb[sim['input_name']]" okText="Okay" cancelText="Dismiss">
                              <ion-select-option *ngFor="let col of current_source['cols']" value="{{col}}">{{col}}
                              </ion-select-option>
                            </ion-select>
                            <!-- <ion-input type="text" [(ngModel)]="spell_tomb[sim['input_name']]"></ion-input> -->





                          </div>








                        </ion-label>

                      </ion-item>

                    </ion-list>
                  </ion-card-content>
                </ion-card>

              </ion-item>

            </ion-list>



            <ion-button shape="round" (click)="cast_grim(i);">Cast Spells</ion-button>
          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col offset=3 size=3>
        <ion-list>
          <ion-item>
            Pipeline: {{pipeline}}
          </ion-item>

          <!-- <ion-item>
            Mana columns
            {{mana["cols"]}}
          </ion-item> -->
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>