<ion-header>
    <ion-toolbar>
      <ion-title>
        Grimoire
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-row class="top-content">
      <ion-col>
        <a (click)="utilityService.navURL('/new-home')">Home</a> > Conjure
      </ion-col>
    </ion-row>
  


<ion-grid>

    <h2 text-center>Create new Grimoires</h2>
    <!-- <ion-row>
      <ion-col offset=3 size=3>
        <ion-card (click)="change_conjure_type('grim')">
          <ion-card-header>
            <ion-title text-center>
              <h1>Grimoire</h1>
            </ion-title>
          </ion-card-header>
          <ion-card-content text-center>
            Collection of spells
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size=3>
        <ion-card (click)="change_conjure_type('spell')">
          <ion-card-header>
            <ion-title text-center>
              <h1>Spell</h1>
            </ion-title>
          </ion-card-header>
          <ion-card-content text-center>
            Indiviudal spell
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row> -->


    <div *ngIf="conjure_type=='grim'">
      <br>
      <br>

      <!-- Have a table of all spells, click plus button to add?-->

      <!-- <ion-list text-center>
        <ion-label>Grimoire Name:</ion-label>
        <ion-item>
          <ion-input type="text" placeholder="Name" [(ngModel)]="new_grim_name"></ion-input>
        </ion-item>
        <ion-label>Grimoire Description:</ion-label>
        <ion-item>
          <ion-input type="text" placeholder="Description" [(ngModel)]="new_grim_desc"></ion-input>
        </ion-item>



      </ion-list>

      <ion-row>
        <ion-col size=4 *ngFor="let spell of new_grim; let i = index">

          <ion-card>
            <ion-card-header text-center>
              <ion-card-title>
                {{spells_dict[spell]["spell_type"]}} - {{spells_dict[spell]["spell_name"]}}
              </ion-card-title>
              <ion-card-subtitle>
                {{spells_dict[spell]["spell_info"]}}
              </ion-card-subtitle>
            </ion-card-header>

            will need to work out how we want to accept inputs
            <ion-card-content text-center>
              <div *ngFor="let spell_input of spells_dict[spell]['spell_inputs_metadata'];">

                <h2><b>Spell Input: {{spell_input["input_name"]}}</b></h2>
                <table border=1 width="100%">
                  <thead>
                    <tr>
                      <th>Input Info</th>
                      <th>Example value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        {{spell_input["info"]}}
                      </td>
                      <td>
                        {{spell_input["example"]}}
                      </td>
                    </tr>
                  </tbody>

                </table>
              </div>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row> -->


     
<!-- 
      <ion-button expand="full" shape="round" (click)="createGrim();">Create Grimoire
        </ion-button> -->


<ion-row>
  <ion-col>

      <ion-list text-center>
          <ion-label>Grimoire Name:</ion-label>
          <ion-item>
            <ion-input type="text" placeholder="Name" [(ngModel)]="new_grim_name"></ion-input>
          </ion-item>
          <ion-label>Grimoire Description:</ion-label>
          <ion-item>
            <ion-input type="text" placeholder="Description" [(ngModel)]="new_grim_desc"></ion-input>
          </ion-item>
  
  
  
        </ion-list>

        <ion-button expand="full" shape="round" (click)="createGrim();">Create Grimoire
          </ion-button>
          <div *ngIf="showTable">

         
      <table id="spell_table" datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
          <tr>
            <th>Spell Name</th>
            <th>Spell Info</th>
            <th>Spell Type</th>
            <th>takes mana?</th>
            <th>Requirements</th>
            <!-- <th>Spell Inputs</th> -->
            <th>Spell Output</th>
            <th>Add Spell</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let spell of spells; let i = index">
            <td>{{spell["spell_name"]}}</td>
            <td>{{spell["spell_info"]}}</td>
            <td>{{spell["spell_type"]}}</td>
            <td>{{spell["takes_mana"]}}</td>
            <td>{{spell["reqs"]}}</td>
            <!-- <td>

              <div *ngFor="let spell_input of spell['spell_inputs_metadata'];">

                <h3>Spell Input: {{spell_input["input_name"]}}</h3>
                <h3>Input Info: {{spell_input["info"]}}</h3>
                <h3>Example Value: {{spell_input["example"]}}</h3>
                <ul>
                  <li>takesMana: {{spell_input["takesMana"]}} </li>
                  <li>takesCSV: {{spell_input["takesCSV"]}} </li>
                  <li>takesAPI: {{spell_input["takesAPI"]}} </li>
                  <li>takesDB: {{spell_input["takesDB"]}} </li>
                </ul>

              </div> 



            </td> -->
            <td>{{spell["spell_output"]}}</td>
            <td>

              <!-- metRequirements(spell) == true -->

              <!-- <ion-button *ngIf="metRequirements(spell) == true " shape="round" (click)="addToGrim(spell);">Add to Grimoire
              </ion-button> -->
              
              <ion-button *ngIf="inNewGrim(spell) == false && metRequirements(spell)" shape="round" (click)="addToGrim(spell);">Add to Grimoire
              </ion-button>

              <ion-button *ngIf="inNewGrim(spell) == true" shape="round" color="danger"
                (click)="removeFromGrim(spell);">Remove from Grimoire</ion-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </ion-col>

      <ion-col>
          <style>
              iframe { height: 100%; width: 100%; frameborder: 0; }
          </style>

      <iframe src="http://localhost:8501/">
        <p>Your browser does not support iframes.</p>
      </iframe>
    </ion-col>
      </ion-row>



    </div>


    <div *ngIf="conjure_type=='spell'">

        <!-- <iframe src="http://localhost:8501/" width="600" height="600">
            <p>Your browser does not support iframes.</p>
          </iframe> -->



    </div>


  </ion-grid>




</ion-content>
